<p id="notice"><%= notice %></p>

<p>
  <strong>Field1:</strong>
  <%= @my_model.field1 %>
</p>

<p>
  <strong>Field2:</strong>
  <%= @my_model.field2 %>
</p>

<p>
  <strong>Field3:</strong>
  <%= @my_model.field3 %>
</p>

<p>
  <strong>Field4:</strong>
  <%= @my_model.field4 %>
</p>

<%= link_to 'Edit', edit_my_model_path(@my_model) %> |
<%= link_to 'Back', my_models_path %>
